
.shadow{

  font-size:3em;
  text-align:center;
  text-shadow: 0 -3px 0 green,
    10px 6px 8px rgba(2,0,0,.4),
    10px 9px 10px rgba(2,0,0,.15),
    10px 30px 10px rgba(2,0,0,.18),
    10px 15px 10px rgba(2,0,0,.21);
}

#numeral {
  width: 40%;
}

.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url("../images/200w.webp");
  font-style: oblique;
  color:white;
  background-attachment: fixed;

}

#main {
  margin-top: -30px;
}

#about {
  padding-bottom: 50.53%;
  background-color: green;

}

#play {
  padding-bottom: 40%;
  background-color:black;
  color:white;
}

.butt {
  margin-left: 42%;
  margin-top: -7.5%;
}
.jeff{
  color:white;

}
button{
  background-color:green;
}
.ping{
  font-size: 100px;
  font-weight: bold;
      font-family: 'Modak', Open Sans;


}
